@model StoreThoiTrang63136126.Models.SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li>@Html.ActionLink("Trang chủ", "Index", "Home63136126")</li>
                <li>@Html.ActionLink("Cửa hàng", "Shop", "Product63136126")</li>
                <li class="active">@Html.ActionLink(Model.TenSP, "ProductDetail", "Product63136126", new { id = Model.MaSP }, new { })</li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail ptb-100 ptb-sm-60">
    <div class="container">
        <div class="thumb-bg">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5 mb-all-40">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane fade show active">
                            <a data-fancybox="images" href="@Model.HinhAnh"><img src="@Model.HinhAnh" alt="product-view"></a>
                        </div>
                    </div>
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">@Model.TenSP</h3>
                        <p style="opacity: .8;">Danh mục : @Model.DanhMuc.TenDanhMuc</p>
                    </div>
                    <div class="pro-price mtb-30">
                        <p class="d-flex align-items-center"><span class="price">@string.Format(info, "{0:c0}", Model.Gia)</span></p>
                    </div>
                    <p style="font-size: 1.2em; color: #666666;">Mô tả:</p>
                    <p class="mb-20 pro-desc-details">@Model.MoTa</p>
                    <div class="product-size mb-20 clearfix">
                        <label>Kích cỡ</label>
                        <select class="" id="modal-kichco-soluong">
                            @foreach (var item in ViewBag.SPCT)
                            {
                                <option value="@item.IDCTSP">@item.KichCo.TenKichCo</option>
                            }
                        </select>
                    </div>
                    <div class="color clearfix mb-20">
                        <label>Màu</label>
                        <input type="color" value="@Model.MaMau.Trim()" disabled />
                    </div>
                    <p style="font-size: 16px;">Số lượng</p>
                    <div class="box-quantity d-flex hot-product2">

                        <form action="#">
                            <input class="quantity mr-15" id="modal-soluong" type="number" min="1" value="1">
                        </form>
                        <div class="pro-actions">
                            @if (ViewBag.Exitst.SoLuong > 0)
                            {
                                <div class="actions-primary">
                                    <button id="order-text" type="button" onclick="themVaoGioHang()" class="add-cart" title="" data-original-title="Thêm" style="margin-top: 0;"> Thêm vào giỏ</button>
                                </div>
                            }
                            @if (ViewBag.Exitst.SoLuong == 0)
                            {
                                <div class="actions-primary">
                                    <button id="order-text" type="button" onclick="themVaoGioHang()" class="add-cart" title="" data-original-title="Thêm" disabled style="margin-top: 0;">Hết hàng! Hãy chọn kích cỡ khác</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
</div>
<!-- Container End -->
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav tabs-area" role="tablist">
                    <li><a class="active" data-toggle="tab" href="#dtail">Hướng dẫn sử dụng</a></li>
                    <li><a data-toggle="tab" href="#review">Chất liệu</a></li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade show active">
                        <p>
                            @Model.HuongDan
                        </p>
                    </div>
                    <div id="review" class="tab-pane fade">
                        <!-- Reviews Start -->
                        <p>@Model.ChatLieu</p>
                        <!-- Reviews End -->
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
